//Page Profile Titular and Guests
.select{
	&__small{
		width: 120px;
	}
	&__relation{
		width:100%;
	}
}
.radio-group{
	padding-right: 20px;
}
.table-services{
	margin-bottom: 40px;
	th, td{
		border: 1px solid @colordarkgray !important;
	}
	td{
		font-size: 10px;
	}
	input[type=checkbox]{
		font-size: 16px;
    	margin-bottom: 8px;
	}
	tbody {
		height: 100px;       /* Just for the demo          */
		overflow-y: auto;    /* Trigger vertical scroll    */
		overflow-x: hidden;  /* Hide the horizontal scroll */
	}
}

.table-rooms, .table-payments, .table-checkin{
	margin-bottom: 40px;
	th, td{
		border: 1px solid @colordarkgray !important;
	}
	td{
		font-size: 24px;
	}
	
}

.table-prices{
	margin-bottom: 20px;
	th, td{
		border: 1px solid @colordarkgray !important;
	}
	td{
		font-size: 12px;
	}	
}
.guest{
	&__item{
		border-bottom: 1px solid @colordarkgray;
		padding: 40px 0px;
		&__actions{
			padding: 40px 0px;
		}
	}
	&__save{
		padding: 20px 0px;
	}
}
.profile{
	&__head{
		&__title{
			margin-bottom: 0px;
			font-size: 28px;
		}
	}
	&__content{
		padding: 40px 0px;
	}
	&__form{
		max-width: 640px;
		margin: 0px auto;
	}
	&__account{
		padding-bottom: 60px;
		&__resume{
			max-width: 280px;
			margin: 20px auto;
		}
		&__label{
			font-weight: bold;
			width: 40%;
			text-align: right;
		}
		&__value{
			padding-left: 20px;
			width: 60%;
		}
		&__separator{
			width: 100%;
			height: 2px;
			background-color: rgba(0,0,0,.5);
		}
		&__total{
			color: @colorprimary;
		}
		&__payment{
			color: @colorsuccess;
		}
		&__condoned{
			color: @coloryellow;
		}
		&__balance{
			color: @colorred;
		}
	}
	&__guests{
		&__list{
			padding-bottom: 60px;
		}
	}
}
.dinamicListGuest{
	tr:nth-child(odd){
		background-color: #eeeeee;
	}
	tr td{
		font-size: 18px;
		vertical-align: middle;
		padding: 0px 10px;
	}
	/*a{
		margin: 8px 10px;
		i{
			position: relative;
    	top: 4px;
		}
		&:hover{
			color: @colorprimary;
		}
	}*/
	.item__service{
		margin-right: 8px;
		font-weight: bold;
		span{
			margin: 0px 2px;
		}
		[class^="icon-"]{
            margin: 0px;
        }
	}
}
.modal{
	&__response__message{
		color: @colorbase1;
		font-size: 18px;
		font-weight: 500;
		padding: 10px 20px;
		&.error{
			background-color: @colorbase5;
			color: @colorbase1;
			margin: 20px 20px;
		}
	}
	&-footer-load{
		display: none;
	}
}
//End Page Profile

.login{
	.page__container{
		max-width: 585px;
		margin: 0 auto;
	}
	.page__content{
		padding-bottom: 0px;
	}
}

.signup{
	.page__container{
		max-width: 680px;
		margin: 0 auto;
	}
}


.dashboard{
	&__list, &__balance{
		padding: 0px 20px;
	}
	&__card{
		margin: 0px 20px;		
		.radius(4px);
		background-color: #eeeeee;
		-webkit-box-shadow: 4px 4px 8px 0px rgba(206,212,218,1);
		-moz-box-shadow: 4px 4px 8px 0px rgba(206,212,218,1);
		box-shadow: 4px 4px 8px 0px rgba(206,212,218,1);

		&--fullwidth{
			width: 100%;
			margin: 0px;
		}
		&--half{
			width: 48%;
			margin: 0px 2% 0px 0px;
		}
		&--three-quarters{
			width: 65%;
			margin: 0px 5%;
		}

		&__title{
			width: 100%;
			padding: 8px 15px;
			color: @colorwhite;
			font-weight: bold;
			font-size: 20px;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}
		&__item{
			width: 33.3%;
			text-align: center;
			color: @colorwhite;
		}
		&__info{
			padding: 15px 20px;
		}
		&__type{
			color: #444444;
			font-weight: bold;
			font-size: 16px;
		}
		&__total{
			background-color: @colorsuccess;
			padding: 2px 10px;
			color: @colorwhite;
			font-size: 16px;
			display: inline-block;
			margin-top: 5px;
		}
	}
	&__balance{
		padding: 60px 20px 0px;
		&__list{
			padding: 20px;
			.table-striped tbody tr{
				background-color: @colorwhite;
			}
			.table-striped tbody tr:nth-of-type(odd){
				background-color: #e2e3e5;
			}
		}
		.dashboard__card__info{
			padding-top: 20px;
		}
		&__global{
			max-width: 480px;
			margin: 0px auto;
		}
		
	}
	&__table{
		margin: 20px auto;
		td, th{
			border-color: #222222 !important;
		}
		&--small{
			tr{
				background-color: @colorwhite;
				text-align: center;
			}
		}
	}
}
  
.tableDinamicList{
	td{
		padding: 4px 10px !important;
		text-transform: uppercase;
		font-size: 14px !important;
		&.contenteditable{
			&:focus{
				background-color: @colorbase1 !important;
				color: @colorwhite !important;
				outline: none !important;
			}
		}
	}
}

.table{
	&__header{
		&.fixed{
			background-color: #ffffff;
			position: fixed;
			top: 0px;
			left: 0px;
			z-index: 20;
			width: 100%;
			.table__header__content{
				.alert{
					margin-bottom: 0px;
				}
			}
			.table__header__head{
				display: block;
				padding: 0px 30px;
				.table{
					margin: 0px !important;
					thead th{
						border-bottom: 2px solid #000;
					}
				}
			}
		}
		&__head{
			display: none;
		}
		&__load{
			display: none;
			text-align: center;
		}
	}
}
.table-rooms{
	&.fixed{
		margin-top: 145px;
	}
}
.table-payments{
	&.fixed{
		margin-top: 60px;
	}
}
.table-checkin{
	&.fixed{
		margin-top: 90px;
	}
}
.confirmTable{
	display: block;
    width: auto;
	background-color: @colorsuccess;
	color: @colorwhite;
	font-weight: bold;
	margin: 4px 8px;
	padding: 4px 10px;
	&--null{
		background-color: @colorbase7;
		padding: 4px 10px;
		margin: 4px 8px;
		display: block;
	}
}

.t__column{
	&__primary{

	}
	&__secondary{
		background-color:@colorbase6 !important;
	}
	&__half{
		width: 45%;
		display: inline-block;
	}
}

.table-hover tbody tr:hover{
	background-color: @colorbase2 !important;
}
.hasMealUser{
	font-size: 2.4rem;
	color: @colorblack;
	text-align: center;
	margin: 20px 0px;
}
.hasMealSuccess{
	width: 160px;
	height: 160px;
	background-color: @colorsuccess;
	color: @colorwhite;
	.radius();
	margin: 0px auto;
	i{
		font-size: 100px !important;
		margin: 0px !important;
	}
	
}
.hasMealError{
	width: 160px;
	height: 160px;
	background-color: @colorwarning;
	color: @colorwhite;
	.radius();
	margin: 0px auto;
	i{
		font-size: 100px !important;
		margin: 0px !important;
	}
}
.dashboard{
	.dashboard__card{
		margin: 0px 0px 30px;
	}
	.table-bordered{
		border: none;
	}
}
.label-for-mobile{
	display: none;
}
#emailHolder{
	word-break: break-word;
}
@media (max-width: 991px){
	.table__header__head{
		display: none !important;
	}
	.table__header__content{
		#download{
			display: none !important;
		}
	}
	.label-for-mobile{
		display: block;
		width: 100%;
		text-transform: none;
		font-weight: bold;
	}
	.table__header__content .alert{
		display: none;
	}
}
@media (max-width: 767px){
	.page__head__title{
		font-size: 22px;
		padding: 10px !important;
		word-break: break-word;
	}
}
@media (max-width: 575px){
	#modalGuest, #modalPayment{
		.text-right{
			text-align: left !important;
		}
	}
}
@media (max-width: 500px){
	.dashboard__card{
		&__info{
			padding: 10px !important;
		}
	}
}