//Loading
.loading{
	display:none;
	width: 100%;
	height: 100%;
	z-index: 10000;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(255,255,255,.9);
	&__container{
		height: 100%;
	}
	&__message{
		color: @colorprimary;
		font-weight: bold;
	}
	.lds-ripple {
		display: inline-block;
		position: relative;
		width: 64px;
		height: 64px;
	}
	.lds-ripple div {
		position: absolute;
		border: 4px solid @colorsuccess;
		opacity: 1;
		border-radius: 50%;
		animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	}
	.lds-ripple div:nth-child(2) {
		animation-delay: -0.5s;
	}
	@keyframes lds-ripple {
		0% {
			top: 28px;
			left: 28px;
			width: 0;
			height: 0;
			opacity: 1;
		}
		100% {
			top: -1px;
			left: -1px;
			width: 58px;
			height: 58px;
			opacity: 0;
		}
	}
}
.subtitle{
	font-size: 2rem;
	padding: 20px 0px;
	color: @colorbase1;
	&--small{
		font-size: 1.8rem;
		padding: 0px;
		color: @colorbase1;
	}
}
.response{
	&__message{
		color: @colorprimary;
		font-size: 18px;
		font-weight: 500;
		padding: 10px 20px;
		&.error{
			background-color: @colorwarning;
			color: @colorwhite;
			margin: 20px 20px;
		}
	}
}
.register{
	&__head{
		&__title{
			margin-bottom: 0px;
			font-size: 28px;
		}
	}
	&__content{
		padding: 40px 0px;
	}
	&__form{
		max-width: 640px;
		margin: 0px auto;
	}
}
.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 40px;
}
.lds-ellipsis div {
	position: absolute;
	top: 15px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: @colorbase1;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
	left: 6px;
	animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
	left: 6px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
	left: 26px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
	left: 45px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
0% {
	transform: scale(0);
}
100% {
	transform: scale(1);
}
}
@keyframes lds-ellipsis3 {
0% {
	transform: scale(1);
}
100% {
	transform: scale(0);
}
}
@keyframes lds-ellipsis2 {
	0% {
	  transform: translate(0, 0);
	}
	100% {
	  transform: translate(19px, 0);
	}
}