@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?3g1ad9');
  src: url('fonts/icomoon.eot?3g1ad9#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?3g1ad9') format('truetype'), url('fonts/icomoon.woff?3g1ad9') format('woff'), url('fonts/icomoon.svg?3g1ad9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-schedule:before {
  content: "\e8b5";
}
.icon-account_box:before {
  content: "\e851";
}
.icon-account_circle:before {
  content: "\e853";
}
.icon-add:before {
  content: "\e145";
}
.icon-arrow_downward:before {
  content: "\e5db";
}
.icon-arrow_forward:before {
  content: "\e5c8";
}
.icon-arrow_upward:before {
  content: "\e5d8";
}
.icon-attach_money:before {
  content: "\e227";
}
.icon-check_circle:before {
  content: "\e86c";
  color: green;
  font-size: 2em;
}
.icon-check_notall:before {
  content: "\e86c";
  color: orangered;
  font-size: 2em;
}
.icon-close:before {
  content: "\e5cd";
}
.icon-mode_edit:before {
  content: "\e254";
}
.icon-delete:before {
  content: "\e872";
}
.icon-delete_forever:before {
  content: "\e92b";
}
.icon-done:before {
  content: "\e876";
}
.icon-drafts:before {
  content: "\e151";
}
.icon-markunread:before {
  content: "\e159";
}
.icon-face:before {
  content: "\e87c";
}
.icon-get_app:before {
  content: "\e884";
}
.icon-file_upload:before {
  content: "\e2c6";
}
.icon-folder_shared:before {
  content: "\e2c9";
}
.icon-format_line_spacing:before {
  content: "\e240";
}
.icon-help:before {
  content: "\e887";
}
.icon-help_outline:before {
  content: "\e8fd";
}
.icon-lock:before {
  content: "\e897";
}
.icon-keyboard_arrow_down:before {
  content: "\e313";
}
.icon-keyboard_arrow_left:before {
  content: "\e314";
}
.icon-keyboard_arrow_right:before {
  content: "\e315";
}
.icon-keyboard_arrow_up:before {
  content: "\e316";
}
.icon-keyboard_backspace:before {
  content: "\e317";
}
.icon-local_offer:before {
  content: "\e54e";
}
.icon-location_city:before {
  content: "\e7f1";
}
.icon-lock_open:before {
  content: "\e898";
}
.icon-lock_outline:before {
  content: "\e899";
}
.icon-mail_outline:before {
  content: "\e0e1";
}
.icon-person:before {
  content: "\e7fd";
}
.icon-person_add:before {
  content: "\e7fe";
}
.icon-phone_android:before {
  content: "\e324";
}
.icon-view_list:before {
  content: "\e8ef";
}
.icon-vpn_key:before {
  content: "\e0da";
}
.icon-hamburguer:before {
  content: "\e3c7";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-search:before {
  content: "\e986";
}
.icon-cog:before {
  content: "\e994";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-airplane:before {
  content: "\e9af";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
  color: #ff0000;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'), url(https://example.com/MaterialIcons-Regular.woff) format('woff'), url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  
  /* For IE6-8 */
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.input-text__small {
  width: 120px !important;
}
select {
  height: 38px;
  border-color: #ced4da;
  background-color: #ffffff;
}
label.error {
  color: #b71c1c;
  font-size: 12px;
  margin: 0px;
  display: block;
}
i.material-icons {
  margin-right: 8px;
}
.page__container {
  min-height: 640px;
  padding: 30px 0px;
}
.page__head__title {
  margin-bottom: 0px;
  font-size: 28px;
  background-color: #e1e1e1;
  color: #5b102e;
  border-bottom: 4px solid #5b102e;
}
.page__head__title {
  margin-bottom: 0px;
  font-size: 28px;
}
.page__form {
  max-width: 640px;
  margin: 0px auto;
  padding: 20px 0px 0px;
}
.page__form [class^="icon-"] {
  font-size: 2rem;
  margin-right: 10px;
}
.page__link {
  color: #5b102e;
  text-decoration: underline;
}
.page__link:hover {
  color: #f67824;
}
.bordered {
  border: 1px solid #ced4da;
}
.btn [class^="icon-"] {
  font-size: 1.4rem;
}
td .btn [class^="icon-"] {
  margin: 0px;
}
.colorbase1 {
  color: #5b102e;
}
.colorbase2 {
  color: #f9eed5;
}
img {
  max-width: 100%;
}
.btn-success {
  background-color: #f67824;
  border-color: #f67824;
}
.btn-success:hover,
.btn-success:active,
.btn-success:focus {
  background-color: #f67824 !important;
  border-color: #f67824 !important;
  opacity: .9;
}
.btn-green {
  background-color: green;
  border-color: green;
}
.btn-green:hover,
.btn-green:active,
.btn-green:focus {
  background-color: green !important;
  border-color: green !important;
  opacity: .9;
}
.btn-primary {
  background-color: #5b102e;
  border-color: #5b102e;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #5b102e !important;
  border-color: #5b102e !important;
  opacity: .9;
}
.bg-success {
  background-color: #f67824 !important;
}
.badge-primary {
  background-color: #f67824;
}
.bg-primary {
  background-color: #f67824 !important;
}
.response__error {
  color: #b71c1c;
  font-size: 12px;
  margin: 0px;
  display: block;
}
.bg-primary-badge {
  background-color: #5b102e !important;
}
.fullHeight {
  height: 100%;
}
.toast {
  position: fixed;
  z-index: 20;
  top: 10px;
  right: 10px;
  background-color: #28a745;
  display: none;
}
.toast-header {
  background-color: #28a745;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.toast-header .close {
  color: #ffffff;
  opacity: 1;
}
.toast-body {
  color: #ffffff;
}
.toast.hide {
  display: none;
}
.toast.show {
  display: block;
}
.Header {
  background-color: #5b102e;
  padding: 5px 0px;
  position: relative;
  z-index: 10;
}
.Header__logo img {
  max-width: 180px;
}
.Header__event__info {
  border-left: 1px solid #f9eed5;
  margin-left: 10px;
  padding: 4px 10px;
  font-size: 13px;
}
.client__menu {
  position: relative;
}
.dropdown-account {
  margin: 10px;
  position: relative;
}
.dropdown-account__menu {
  display: none;
  position: absolute;
  top: 45px;
  right: 10px;
  width: 180px;
  padding: 0px;
  z-index: 10;
}
.dropdown-account__menu ul {
  margin: 18px 0px 0px;
  padding: 0px;
  list-style-type: none;
}
.dropdown-account__menu ul li:last-child a {
  border: none;
}
.dropdown-account__menu a {
  color: #5b102e;
  font-size: 1rem;
  padding: 8px 12px;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  background-color: #f9eed5;
}
.dropdown-account__menu a:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #f67824;
}
.client__menu:hover .dropdown-account__menu,
.dropdown-account__menu:hover .dropdown-account__menu {
  display: block;
}
.login__form {
  max-width: 500px;
  margin: 0px auto;
}
.login__content {
  padding: 100px 0px;
  padding: 40px 0px;
}
.login__head__title {
  margin-bottom: 0px;
  font-size: 28px;
  text-align: center;
}
@media (max-width: 767px) {
  .Header__logo {
    max-width: 120px;
  }
  .Header__logo img {
    width: 100%;
  }
}
.Footer {
  background-color: #5b102e;
  color: #ffffff;
  padding: 20px 0px 0px;
  font-size: 12px;
}
.Footer__up {
  position: fixed;
  right: 25px;
  bottom: 25px;
  background-color: #f9eed5;
  color: #5b102e;
  font-size: 30px;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 2px solid #5b102e;
}
.Footer__up i {
  margin-right: 0px;
}
.Footer__up:hover,
.Footer__up:focus {
  background-color: #ffffff;
  color: #5b102e;
  text-decoration: none;
}
.Footer__logo {
  max-width: 220px;
  display: block;
}
.Footer__limit {
  border-left: 1px solid #f9eed5;
  margin-left: 20px;
  padding: 0px 10px;
}
.Footer__limit p {
  margin: 0px;
}
.Footer__limit a {
  color: #ffffff;
}
.Footer__limit a:hover {
  color: #f9eed5;
}
.Footer__copy {
  padding-top: 10px;
}
.Footer__bottom {
  margin-top: 20px;
  background-color: #f9eed5;
  color: #5b102e;
}
.loading {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 10000;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.9);
}
.loading__container {
  height: 100%;
}
.loading__message {
  color: #007bff;
  font-weight: bold;
}
.loading .lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.loading .lds-ripple div {
  position: absolute;
  border: 4px solid #28a745;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loading .lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
.subtitle {
  font-size: 2rem;
  padding: 20px 0px;
  color: #5b102e;
}
.subtitle--small {
  font-size: 1.8rem;
  padding: 0px;
  color: #5b102e;
}
.response__message {
  color: #007bff;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px;
}
.response__message.error {
  background-color: #ef5350;
  color: #ffffff;
  margin: 20px 20px;
}
.register__head__title {
  margin-bottom: 0px;
  font-size: 28px;
}
.register__content {
  padding: 40px 0px;
}
.register__form {
  max-width: 640px;
  margin: 0px auto;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 40px;
}
.lds-ellipsis div {
  position: absolute;
  top: 15px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #5b102e;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
.select__small {
  width: 120px;
}
.select__relation {
  width: 100%;
}
.radio-group {
  padding-right: 20px;
}
.table-services {
  margin-bottom: 40px;
}
.table-services th,
.table-services td {
  border: 1px solid #999999 !important;
}
.table-services td {
  font-size: 10px;
}
.table-services input[type=checkbox] {
  font-size: 16px;
  margin-bottom: 8px;
}
.table-services tbody {
  height: 100px;
  /* Just for the demo          */
  overflow-y: auto;
  /* Trigger vertical scroll    */
  overflow-x: hidden;
  /* Hide the horizontal scroll */
}
.table-rooms,
.table-payments,
.table-checkin {
  margin-bottom: 40px;
}
.table-rooms th,
.table-payments th,
.table-checkin th,
.table-rooms td,
.table-payments td,
.table-checkin td {
  border: 1px solid #999999 !important;
}
.table-rooms td,
.table-payments td,
.table-checkin td {
  font-size: 24px;
}
.table-prices {
  margin-bottom: 20px;
}
.table-prices th,
.table-prices td {
  border: 1px solid #999999 !important;
}
.table-prices td {
  font-size: 12px;
}
.guest__item {
  border-bottom: 1px solid #999999;
  padding: 40px 0px;
}
.guest__item__actions {
  padding: 40px 0px;
}
.guest__save {
  padding: 20px 0px;
}
.profile__head__title {
  margin-bottom: 0px;
  font-size: 28px;
}
.profile__content {
  padding: 40px 0px;
}
.profile__form {
  max-width: 640px;
  margin: 0px auto;
}
.profile__account {
  padding-bottom: 60px;
}
.profile__account__resume {
  max-width: 280px;
  margin: 20px auto;
}
.profile__account__label {
  font-weight: bold;
  width: 40%;
  text-align: right;
}
.profile__account__value {
  padding-left: 20px;
  width: 60%;
}
.profile__account__separator {
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.5);
}
.profile__account__total {
  color: #007bff;
}
.profile__account__payment {
  color: #28a745;
}
.profile__account__condoned {
  color: #ffc107;
}
.profile__account__balance {
  color: #b71c1c;
}
.profile__guests__list {
  padding-bottom: 60px;
}
.dinamicListGuest {
  /*a{
		margin: 8px 10px;
		i{
			position: relative;
    	top: 4px;
		}
		&:hover{
			color: @colorprimary;
		}
	}*/
}
.dinamicListGuest tr:nth-child(odd) {
  background-color: #eeeeee;
}
.dinamicListGuest tr td {
  font-size: 18px;
  vertical-align: middle;
  padding: 0px 10px;
}
.dinamicListGuest .item__service {
  margin-right: 8px;
  font-weight: bold;
}
.dinamicListGuest .item__service span {
  margin: 0px 2px;
}
.dinamicListGuest .item__service [class^="icon-"] {
  margin: 0px;
}
.modal__response__message {
  color: #5b102e;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px;
}
.modal__response__message.error {
  background-color: #f8d7da;
  color: #5b102e;
  margin: 20px 20px;
}
.modal-footer-load {
  display: none;
}
.login .page__container {
  max-width: 585px;
  margin: 0 auto;
}
.login .page__content {
  padding-bottom: 0px;
}
.signup .page__container {
  max-width: 680px;
  margin: 0 auto;
}
.dashboard__list,
.dashboard__balance {
  padding: 0px 20px;
}
.dashboard__card {
  margin: 0px 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #eeeeee;
  -webkit-box-shadow: 4px 4px 8px 0px #ced4da;
  -moz-box-shadow: 4px 4px 8px 0px #ced4da;
  box-shadow: 4px 4px 8px 0px #ced4da;
}
.dashboard__card--fullwidth {
  width: 100%;
  margin: 0px;
}
.dashboard__card--half {
  width: 48%;
  margin: 0px 2% 0px 0px;
}
.dashboard__card--three-quarters {
  width: 65%;
  margin: 0px 5%;
}
.dashboard__card__title {
  width: 100%;
  padding: 8px 15px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.dashboard__card__item {
  width: 33.3%;
  text-align: center;
  color: #ffffff;
}
.dashboard__card__info {
  padding: 15px 20px;
}
.dashboard__card__type {
  color: #444444;
  font-weight: bold;
  font-size: 16px;
}
.dashboard__card__total {
  background-color: #28a745;
  padding: 2px 10px;
  color: #ffffff;
  font-size: 16px;
  display: inline-block;
  margin-top: 5px;
}
.dashboard__balance {
  padding: 60px 20px 0px;
}
.dashboard__balance__list {
  padding: 20px;
}
.dashboard__balance__list .table-striped tbody tr {
  background-color: #ffffff;
}
.dashboard__balance__list .table-striped tbody tr:nth-of-type(odd) {
  background-color: #e2e3e5;
}
.dashboard__balance .dashboard__card__info {
  padding-top: 20px;
}
.dashboard__balance__global {
  max-width: 480px;
  margin: 0px auto;
}
.dashboard__table {
  margin: 20px auto;
}
.dashboard__table td,
.dashboard__table th {
  border-color: #222222 !important;
}
.dashboard__table--small tr {
  background-color: #ffffff;
  text-align: center;
}
.tableDinamicList td {
  padding: 4px 10px !important;
  text-transform: uppercase;
  font-size: 14px !important;
}
.tableDinamicList td.contenteditable:focus {
  background-color: #5b102e !important;
  color: #ffffff !important;
  outline: none !important;
}
.table__header.fixed {
  background-color: #ffffff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 20;
  width: 100%;
}
.table__header.fixed .table__header__content .alert {
  margin-bottom: 0px;
}
.table__header.fixed .table__header__head {
  display: block;
  padding: 0px 30px;
}
.table__header.fixed .table__header__head .table {
  margin: 0px !important;
}
.table__header.fixed .table__header__head .table thead th {
  border-bottom: 2px solid #000;
}
.table__header__head {
  display: none;
}
.table__header__load {
  display: none;
  text-align: center;
}
.table-rooms.fixed {
  margin-top: 145px;
}
.table-payments.fixed {
  margin-top: 60px;
}
.table-checkin.fixed {
  margin-top: 90px;
}
.confirmTable {
  display: block;
  width: auto;
  background-color: #28a745;
  color: #ffffff;
  font-weight: bold;
  margin: 4px 8px;
  padding: 4px 10px;
}
.confirmTable--null {
  background-color: #dcedc8;
  padding: 4px 10px;
  margin: 4px 8px;
  display: block;
}
.t__column__secondary {
  background-color: #67696b !important;
}
.t__column__half {
  width: 45%;
  display: inline-block;
}
.table-hover tbody tr:hover {
  background-color: #f9eed5 !important;
}
.hasMealUser {
  font-size: 2.4rem;
  color: #000000;
  text-align: center;
  margin: 20px 0px;
}
.hasMealSuccess {
  width: 160px;
  height: 160px;
  background-color: #28a745;
  color: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0px auto;
}
.hasMealSuccess i {
  font-size: 100px !important;
  margin: 0px !important;
}
.hasMealError {
  width: 160px;
  height: 160px;
  background-color: #ef5350;
  color: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0px auto;
}
.hasMealError i {
  font-size: 100px !important;
  margin: 0px !important;
}
.dashboard .dashboard__card {
  margin: 0px 0px 30px;
}
.dashboard .table-bordered {
  border: none;
}
.label-for-mobile {
  display: none;
}
#emailHolder {
  word-break: break-word;
}
@media (max-width: 991px) {
  .table__header__head {
    display: none !important;
  }
  .table__header__content #download {
    display: none !important;
  }
  .label-for-mobile {
    display: block;
    width: 100%;
    text-transform: none;
    font-weight: bold;
  }
  .table__header__content .alert {
    display: none;
  }
}
@media (max-width: 767px) {
  .page__head__title {
    font-size: 22px;
    padding: 10px !important;
    word-break: break-word;
  }
}
@media (max-width: 575px) {
  #modalGuest .text-right,
  #modalPayment .text-right {
    text-align: left !important;
  }
}
@media (max-width: 500px) {
  .dashboard__card__info {
    padding: 10px !important;
  }
}

