@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3g1ad9');
  src:  url('fonts/icomoon.eot?3g1ad9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3g1ad9') format('truetype'),
    url('fonts/icomoon.woff?3g1ad9') format('woff'),
    url('fonts/icomoon.svg?3g1ad9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-schedule:before {
  content: "\e8b5";
}
.icon-account_box:before {
  content: "\e851";
}
.icon-account_circle:before {
  content: "\e853";
}
.icon-add:before {
  content: "\e145";
}
.icon-arrow_downward:before {
  content: "\e5db";
}
.icon-arrow_forward:before {
  content: "\e5c8";
}
.icon-arrow_upward:before {
  content: "\e5d8";
}
.icon-attach_money:before {
  content: "\e227";
}
.icon-check_circle:before {
  content: "\e86c";
  color: green;
  font-size: 2em
}
.icon-check_notall:before {
  content: "\e86c";
  color: orangered;
  font-size: 2em
}

.icon-close:before {
  content: "\e5cd";
}
.icon-mode_edit:before {
  content: "\e254";
}
.icon-delete:before {
  content: "\e872";
}
.icon-delete_forever:before {
  content: "\e92b";
}
.icon-done:before {
  content: "\e876";
}
.icon-drafts:before {
  content: "\e151";
}
.icon-markunread:before {
  content: "\e159";
}
.icon-face:before {
  content: "\e87c";
}
.icon-get_app:before {
  content: "\e884";
}
.icon-file_upload:before {
  content: "\e2c6";
}
.icon-folder_shared:before {
  content: "\e2c9";
}
.icon-format_line_spacing:before {
  content: "\e240";
}
.icon-help:before {
  content: "\e887";
}
.icon-help_outline:before {
  content: "\e8fd";
}
.icon-lock:before {
  content: "\e897";
}
.icon-keyboard_arrow_down:before {
  content: "\e313";
}
.icon-keyboard_arrow_left:before {
  content: "\e314";
}
.icon-keyboard_arrow_right:before {
  content: "\e315";
}
.icon-keyboard_arrow_up:before {
  content: "\e316";
}
.icon-keyboard_backspace:before {
  content: "\e317";
}
.icon-local_offer:before {
  content: "\e54e";
}
.icon-location_city:before {
  content: "\e7f1";
}
.icon-lock_open:before {
  content: "\e898";
}
.icon-lock_outline:before {
  content: "\e899";
}
.icon-mail_outline:before {
  content: "\e0e1";
}
.icon-person:before {
  content: "\e7fd";
}
.icon-person_add:before {
  content: "\e7fe";
}
.icon-phone_android:before {
  content: "\e324";
}
.icon-view_list:before {
  content: "\e8ef";
}
.icon-vpn_key:before {
  content: "\e0da";
}
.icon-hamburguer:before {
  content: "\e3c7";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-search:before {
  content: "\e986";
}
.icon-cog:before {
  content: "\e994";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-airplane:before {
  content: "\e9af";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
  color:red
}