.Footer{
    background-color: @colorbase1;
    color: @colorwhite;
    padding: 20px 0px 0px;
    font-size: 12px;
    &__up{
        position: fixed;
        right: 25px;
        bottom: 25px;
        background-color: @colorbase2;
        color: @colorbase1;
        font-size: 30px;
        width: 40px;
        height: 40px;
        .radius(8px);
        border: 2px solid @colorbase1;
        i{
            margin-right: 0px;
        }
        &:hover, &:focus{
            background-color: @colorwhite;
            color: @colorbase1;
            text-decoration: none;
        }
    }
    &__logo{
        max-width: 220px;
        display: block;
    }
    &__limit{
        border-left: 1px solid @colorbase2;
        margin-left: 20px;
        padding: 0px 10px;
        p{
            margin: 0px;
        }
        a{
            color: @colorwhite;
            &:hover{
                color: @colorbase2;
            }
        }
    }
    &__copy{
        padding-top: 10px;
    }
    &__bottom{
        margin-top: 20px;
        background-color: @colorbase2;
        color: @colorbase1;
    }
}