//Fuentes
@font-face {
    font-family: 'Material Icons';
    font-style : normal;
    font-weight: 400;
    src        : url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
        url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
        url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style : normal;
    font-size  : 24px;
    /* Preferred icon size */
    display       : inline-block;
    line-height   : 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap     : normal;
    white-space   : nowrap;
    direction     : ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.input-text {
    &__small {
        width: 120px !important;
    }
}

select {
    height          : 38px;
    border-color    : @inputborder;
    background-color: @colorwhite;
}

label.error {
    color    : @colorred;
    font-size: 12px;
    margin   : 0px;
    display  : block;
}

i.material-icons {
    margin-right: 8px;
}

.page {
    &__container {
        min-height: 640px;
        padding : 30px 0px;
    }

    &__head {
        &__title {
            margin-bottom: 0px;
            font-size    : 28px;
            background-color: @colorbase4;
            color: @colorbase1;
            border-bottom: 4px solid @colorbase1;
        }
    }
	&__head{
		&__title{
			margin-bottom: 0px;
			font-size: 28px;
		}
	}
	&__form{
		max-width: 640px;
        margin: 0px auto;
        padding: 20px 0px 0px;
        
        [class^="icon-"]{
            font-size: 2rem;
            margin-right: 10px;
        }
    }
    &__link{
        color: @colorbase1;
        text-decoration: underline;
        &:hover{
            color: @colorbase3;
        }
    }
}

.bordered {
    border: 1px solid @inputborder;
}
.btn{
    [class^="icon-"]{
        font-size: 1.4rem;
    }
}
td{
    .btn{
        [class^="icon-"]{
            margin: 0px;
        }
    }
}
.colorbase1{
    color: @colorbase1;
}
.colorbase2{
    color: @colorbase2;
}
img{
    max-width: 100%;
}
.btn-success{
    background-color: @colorbase3;
    border-color: @colorbase3;
    &:hover, &:active, &:focus{
        background-color: @colorbase3 !important;
        border-color: @colorbase3 !important;
        opacity: .9;
    }
}
.btn-green{
    background-color: green;
    border-color: green;
    &:hover, &:active, &:focus{
        background-color: green !important;
        border-color: green !important;
        opacity: .9;
    }
}
.btn-primary{
    background-color: @colorbase1;
    border-color: @colorbase1;
    &:hover, &:active, &:focus{
        background-color: @colorbase1 !important;
        border-color: @colorbase1 !important;
        opacity: .9;
    }
}
.bg-success{
    background-color: @colorbase3 !important;
}
.badge-primary{
    background-color: @colorbase3;
}
.bg-primary{
    background-color: @colorbase3 !important;
}

.response__error{
    color    : @colorred;
    font-size: 12px;
    margin   : 0px;
    display  : block;
}
.bg-primary-badge{
    background-color: @colorbase1 !important;
}
.fullHeight{
    height: 100%;
}
.toast{
    position: fixed;
    z-index: 20;
    top: 10px;
    right: 10px;
    background-color: @colorsuccess;
    display: none;
    &-header{
        background-color: @colorsuccess;
        color: @colorwhite;
        border-bottom: 1px solid @colorwhite;
        .close{
            color: @colorwhite;
            opacity: 1;
        }
    }  
    &-body{
        color: @colorwhite;
    }
    &.hide{
        display: none;
    }
    &.show{
        display: block;
    }
}