//Globals
.Header{
	background-color: @colorbase1;
	padding: 5px 0px;
	position: relative;
	z-index: 10;
	&__logo{
		img{
			max-width: 180px;
		}
	}
	&__event{
		&__info{
			border-left: 1px solid @colorbase2;
			margin-left: 10px;
			padding: 4px 10px;
			font-size: 13px;
		}
	}
}
.client__menu{
	position: relative;
}
.dropdown-account{
	margin: 10px;
	position: relative;
	&__menu{
		display:none;
		position: absolute;
		top: 45px;
		right: 10px;
		width: 180px;
		padding: 0px;
		z-index: 10;
		ul{
			margin: 18px 0px 0px;
			padding: 0px;
			list-style-type: none;
			li:last-child a{
				border:none;
			}
		}
		a{
			color: @colorbase1;
			font-size: 1rem;
			padding: 8px 12px;
			display: block;
			border-bottom: 1px solid rgba(255,255,255,.8);
			background-color: @colorbase2;
			&:hover{
				text-decoration: none;
				color: @colorwhite;
				background-color: @colorbase3;
			}
		}
	}
}
.client__menu, .dropdown-account__menu{
	&:hover{
		.dropdown-account__menu{
			display: block;
		}
	}
}

.login {
	&__form {
		max-width: 500px;
		margin   : 0px auto;
	}

	&__content {
		padding: 100px 0px;
		padding: 40px 0px
	}

	&__head__title {
		margin-bottom: 0px;
		font-size    : 28px;
		text-align   : center
	}
}
@media (max-width: 767px){
	.Header{
		&__logo{
			max-width: 120px;
			img{
				width: 100%;
			}
		}
	}
}