//Variables
@inputborder : #ced4da; 
@inputcolor : #495057;
@colorblack: #000000;
@colorwhite : #ffffff; 
@colorred: #b71c1c;
@colordarkgray : #999999;
@coloryellow: #ffc107;
@colorblue: #2991d6;
@colorprimary: #007bff;
@colorwarning: #ef5350;
@colorsuccess: #28a745;

@colorbase1: #5B102E;
@colorbase2: #F9EED5;
@colorbase3: #F67824;
@colorbase4: #e1e1e1;
@colorbase5: #f8d7da;
@colorbase6: #67696b;
@colorbase7: #dcedc8;
